@mixin mobile-lg {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin icon($img) {
  height: 1.7rem;
  width: 1.7rem;
  background-image: url($img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
